* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(128, 99, 155);
}
p, h1 {
    color:rgb(74, 38, 110);
    font-size: 30px;
    font-weight: 600;

}
.btn {
    color:rgb(38, 28, 48);
    border-radius: 5px;
}
.container {
    border-radius: 10px;
    border: 2px solid rgb(50, 22, 79);
    background-color: white;
    margin: 30px;
}
