* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(128, 99, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    color:rgb(65, 7, 123);
    font-size: 30px;
    font-weight: 600;

}
p {
    color: rgb(74, 38, 110);
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;

}

.container {
    border-radius: 10px;
    border: 2px solid rgb(50, 22, 79);
    background-color: white;
    margin: 30px;
    padding:30px;
    width: 400px;
}
.container form {
    margin: 15px 0 25px;
}
.container form :where(input, button) {
    outline: 0;
    border: 0;
    border-radius: 5px;
    width: 100%;
    margin:5px 0 ;
    padding: 10px ;
    font-size: 16px;
}